<Project>
    <PropertyGroup>
        <!--<ContainerRegistry>registry.hub.docker.com</ContainerRegistry>-->
        <ContainerBaseImage>mcr.microsoft.com/dotnet/nightly/aspnet:7.0-jammy-chiseled</ContainerBaseImage>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <ContainerRepository>abdulassaker/hello-from-github-actions</ContainerRepository>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerImageName>abdulassaker/hello-from-github-actions</ContainerImageName>
        <PublishTrimmed>true</PublishTrimmed>
    </PropertyGroup>
</Project>
